.sortList {
  border: 1px solid #30d5c8;
  padding: 10px;
  margin-top: 10px;
}

.sortItem {
  cursor: grab;
  padding: 5px;
  margin: 5px;
  background-color: rgb(239, 239, 239);
}

.sortItem:hover {
  background-color: rgb(226, 226, 226);
}

.sortItem::before {
  content: '≡';
  margin-right: 5px;
  color: grey;
}

.sortItemFilter {
  cursor: not-allowed;
  padding: 5px;
  margin: 5px;
  background-color: rgb(219, 215, 210);
}

.sortItemFilter::before {
  content: '✕';
  margin-right: 5px;
  color: grey;
}

.helperText {
  font-size: smaller;
  color: gray;
}

.functionKeyGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.3em 0.6em;
}

.functionKeyGrid span * {
  width: auto;
  margin: 0;
}

.functionKeyBox h3 {
  margin: 0 0 1rem 0;
  width: auto;
  box-shadow: 0 2px 1px -1px gray;
}

.functionKeyBox {
  margin-bottom: 0.5rem;
  /*background-color: #f8f8ff;*/
  padding: 1rem;
}