.sortList {
  border: 1px solid #30d5c8;
  padding: 10px;
  margin-top: 10px;
}

.sortItem {
  cursor: grab;
  padding: 5px;
  margin: 5px;
  background-color: rgb(239, 239, 239);
}

.sortItem:hover {
  background-color: rgb(226, 226, 226);
}

.sortItem::before {
  content: '≡';
  margin-right: 5px;
  color: grey;
}

.sortItemFilter {
  cursor: not-allowed;
  padding: 5px;
  margin: 5px;
  background-color: rgb(219, 215, 210);
}

.sortItemFilter::before {
  content: '✕';
  margin-right: 5px;
  color: grey;
}

.helperText {
  font-size: smaller;
  color: gray;
}